include /_mixins
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    +navbar
    +errors(errors)
    +flash_messages(success_messages, error_messages)

    

    block content
    script(src="/javascripts/vendor/all.js")
    script(src="/javascripts/main.js")
