extends layout

block content
  .post
    h1.post_title= post.title
    img.post_image(src="#{post.image}", alt="post.title")
    h2.post_body=post.body
    p Categories:
    +categories_tags(post.categories)