extends layout

block content
  form(action="/posts/new" method="post" class="new_post")
    
    label(for="title_input") Title
    input(type="text" name="title" id="title_input" required)
    
    br 

    label(for="image_input") Image URL
    input(type="url" name="image" id="image_input")
    
    br

    label(for="body_input") Body 
    textarea(name="body" id="body_input" required)

    each category in categories
        label.category_tag= category.name
            input(type="checkbox" name="categories[]" value="#{category.name}")

    input(type="submit" value="Submit Post" class="green_bkg")

