html {
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0 30px;
  margin: 0;
  background: #ecf0f1;
}
body a {
  color: inherit;
  text-decoration: none;
}
body ahover {
  cursor: pointer;
}
nav {
  height: 60px;
  margin: 0 0 10px 0;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  position: relative;
}
nav .nav_title {
  margin: 0;
  font-size: 48px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
  display: inline-block;
}
nav ul li.right {
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 24px;
}
button {
  margin: 10px 0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}
.green_bkg {
  background: #2ecc71;
  color: #fffafa;
}
form.new_post,
form.new_category,
form.register,
form.login {
  margin: 0 auto;
  width: 800px;
}
form.new_post label,
form.new_category label,
form.register label,
form.login label {
  display: block;
  font-size: 24px;
}
form.new_post label.category_tag,
form.new_category label.category_tag,
form.register label.category_tag,
form.login label.category_tag {
  display: inline-block;
}
form.new_post input,
form.new_category input,
form.register input,
form.login input {
  width: 100%;
  border-radius: 8px;
  font-size: 24px;
}
form.new_post input[type="text"],
form.new_category input[type="text"],
form.register input[type="text"],
form.login input[type="text"],
form.new_post input[type="url"],
form.new_category input[type="url"],
form.register input[type="url"],
form.login input[type="url"] {
  margin: 20px 0;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.2);
}
form.new_post input[type="submit"],
form.new_category input[type="submit"],
form.register input[type="submit"],
form.login input[type="submit"] {
  margin-top: 10px;
  height: 40px;
}
form.new_post textarea,
form.new_category textarea,
form.register textarea,
form.login textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 10px 0;
  font-size: 24px;
}
form.register {
  width: 500px;
}
form.register input {
  margin: 10px 0;
  height: 40px;
}
form.register input[type="submit"] {
  background: #008000;
}
.post_preview {
  background: #fffafa;
}
.post_preview img {
  float: left;
  padding: 10px;
  height: 100px;
  display: block;
  margin-right: 40px;
}
.post_preview:after {
  content: "";
  display: block;
  clear: both;
}
.categories_tags small + small {
  margin-left: 10px;
}
.categories_tags small + small:before {
  display: inline-block;
  content: "|";
  margin-right: 5px;
}
.categories_tags smallhover {
  text-decoration: underline !important;
}
.post {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}
.post .post_body {
  text-align: justify;
  border-radius: 10px;
  padding: 10px 40px;
  background: #fffafa;
}
.delete_form {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.delete_button,
.edit_button {
  background: #c0392b;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  color: #fffafa;
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
}
.delete_button:hover,
.edit_button:hover {
  cursor: pointer;
}
.flash {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}
.success_messages {
  background: rgba(0,177,106,0.3);
  color: #008000;
}
.error_messages {
  background: rgba(236,100,75,0.3);
  color: #96281b;
}
.edit_button {
  background: #2980b9;
  padding-top: 5px;
}
.user_preview {
  list-style: none;
  margin: 15px 0;
  padding: 5px 0;
  font-size: 24px;
  font-weight: bold;
}
.user_preview + .user_preview {
  border-top: 1px solid #000;
}
