html {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #ecf0f1;
}
nav {
  height: 30px;
  margin: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
a {
  color: #00b7ff;
}
