html 
  margin: 0
  padding: 0
  
body 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding: 0
  margin: 0
  background: rgba(236, 240, 241,1.0)
  

nav 
  height: 30px
  margin: 0
  ul 
    padding: 0
    margin: 0
    
a 
  color: #00B7FF

